<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by Strong"
          [(ngModel)]="strong"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="searchStrong()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Pokemons</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let pokemon of pokemons; let i = index"
        >
        <table>
            <tr>
                <th> Name</th>
                <th >Image</th>
                <th >type</th>
                <th >spawn chance</th>
            </tr>
            <tr *ngFor="let pokemon of pokemons; let i = index">
                <td>{{pokemon.name}}</td>
                <td ><img [src]="pokemon.img"/></td>
                <td ><ul class="list-group">
                    <li
                      class="list-group-item"
                      *ngFor="let type of pokemon.type; let j = index"
                    >
                    {{type}}
                </ul></td>
                <td class="marginTable">{{pokemon.spawn_chance}}</td>
            </tr>
        </table>
        </li>
      </ul>
    </div>
  </div>
  